<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SLNSSCEB_for_PC.Properties.Settings.SLNSSCEBConnectionString"
            connectionString="Data Source=DESKTOP-9PI6981;Initial Catalog=SLNSSCEB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>